<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hg.web.repository.WaybillMapper">
  <resultMap id="BaseResultMap" type="com.hg.web.entity.Waybill">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="driver_name" jdbcType="VARCHAR" property="driverName"/>
    <result column="driver_phone" jdbcType="VARCHAR" property="driverPhone"/>
    <result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
    <result column="start_location" jdbcType="VARCHAR" property="startLocation"/>
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    <result column="end_location" jdbcType="VARCHAR" property="endLocation"/>
    <result column="order_id" jdbcType="INTEGER" property="orderId"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, driver_name, driver_phone, plate_number, start_time, start_location, end_time, end_location, order_id
  </sql>

  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from waybill
  </select>

  <insert id="insert" parameterType="com.hg.web.entity.Waybill">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into waybill (driver_name, driver_phone, plate_number, start_time, start_location, end_time, end_location, order_id)
    values (
    #{driverName,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR}, #{plateNumber,jdbcType=VARCHAR},
    #{startTime,jdbcType=TIMESTAMP}, #{startLocation,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP},
    #{endLocation,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER})
  </insert>

  <delete id="delete" >
    delete from waybill where id = #{id}
  </delete>

</mapper>