
logging:
  path: c:/hg/logs
  level:
    root: INFO
    org:
      springframework:
        web: DEBUG
        security: DEBUG

spring:
  datasource:
    url: jdbc:h2:mem:hg
    username: root
    password: changeme
    driver-class-name: org.h2.Driver
    schema: classpath:db/schema.sql
    data: classpath:db/data.sql
  h2.console:
    enabled: true
    path: /h2-console

#management:
#  security:
#    roles: ADMIN
#    enable: false

hg:
  # 质检报告文件保存路径
  static:
    upload: c:/hg/static/upload/