# 线上测试环境（Linux）使用，无需依赖MySQL
logging:
  level:
    root: INFO
    org:
      springframework:
        web: DEBUG
        security: DEBUG

spring:
  datasource:
    url: jdbc:h2:mem:trace
    username: root
    password: changeme
    driver-class-name: org.h2.Driver
    schema: classpath:h2/schema.sql
    data: classpath:h2/data.sql
  h2.console:
    enabled: true
    path: /h2-console

#management:
#  security:
#    roles: ADMIN
#    enable: false